* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: Linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: #fff;
}


.location ,.tempreture{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.tempreture {
    flex-direction: column;
}

.degree-section {
    display: flex;
    align-self: center;
}

.degree-section span {
    margin: 10px;
    font-size: 30px;
    cursor: pointer;
}

.degree-section h2 {
    font-size: 40px;
}


.location-timezone {

}
.location-timezone Icon {}
.tempreture {}
.temperature-degree {}
.temperature-description {}